<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<!--<form action="/basicFormResponse.html" method="post" enctype="multipart/form-data">-->
<!--enctype="text/plain"-->

<!--If using post the enctype must be enctype="multipart/form-data", or not specified-->
<form action="/GETResponse99" method="post" enctype="multipart/form-data" >
    <label>Name:</label><input type="text" name="userName"/>
    <br/>
    <label>Email:</label><input type="text" name="email"/>
    <button type="submit">Create User</button>
</form>

</body>
</html>