<!--Input, Output, ViewChild.-->
<h2>Input</h2>
<div class="parent">
  <p>Parent msg:</p>
  <app-demo-datashare-input [inputContent]="'value from [parent]-[html]AAA'"></app-demo-datashare-input>
</div>

<h2 class="nextBlock">Output</h2>
<div class="parent">
  <p>Parent msg: {{theOutput}}</p>
  <app-demo-datashare-output (outputEvent)="outputReceiver($event)"></app-demo-datashare-output>
</div>

<h2 class="nextBlock">ViewChild</h2>
<div class="parent">
  Parent msg: {{parentV}}
  <br/>
  <button type="submit" (click)="getFromChild()">getFromChild</button>
  <button type="submit" (click)="sendToChild()">sendToChild</button>
  
  <app-demo-datashare-viewchild></app-demo-datashare-viewchild>

  <app-demo-datashare-viewchild></app-demo-datashare-viewchild>
</div>





<h2 class="nextBlock">Sibling by Service</h2>
<div class="parent">
  <p>Parent: from Subscribe: {{messageSyncBySubscribe}} </p>
  <p>Parent: from field in service: {{messageSyncByField}}</p>
  <app-demo-datashare-sibling-target></app-demo-datashare-sibling-target>
  <app-demo-datashare-sibling></app-demo-datashare-sibling>
</div>
