<div class="container col-8">
  <div class="form-group row">
    <label for="deposit2" class="col-2 col-form-label">Deposit:</label>
    <div class="col-4">
      <input class="form-control" type="text" value="" id="deposit2" [(ngModel)]="deposit2" readonly/>
    </div>
  </div>

  <div class="form-group row">
    <label for="interestRate2" class="col-2 col-form-label">Rate:</label>
    <div class="col-4">
      <input class="form-control" type="text" value="" id="interestRate2" [(ngModel)]="interestRate2" readonly/>
    </div>
    <label for="interestRate2" class="col-1 col-form-label">%</label>

  </div>

  <div class="form-group row">
    <label for="year2" class="col-2 col-form-label">Year:</label>
    <div class="col-4">
      <input class="form-control" type="text" value="" id="year2" [(ngModel)]="year2" readonly/>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onAdd()">Calculate and Send back</button>

  </div>

  <div class="form-group row float-none">
    <label for="result2" class="col-2 col-form-label">Result:</label>
    <div class="col-8">
      <input class="form-control" type="text" value="" id="result2" [(ngModel)]="result2" readonly>
    </div>
  </div>
</div>